extends layout

block content
  h1 Prices
  div
    h2 Humble
    p #{humble}
  div
    h2 Steam
    p #{steam}

  form(name="search", method="get")
    div
      span.label Title
      input(type="text", name="game")
    div.actions
      input(type="submit", value="Submit")